.DS_Store
.vscode

# textract-pipeline directory
textract-pipeline/*.js
textract-pipeline/!jest.config.js
textract-pipeline/*.d.ts
textract-pipeline/node_modules
textract-pipeline/textractcf

# CDK asset staging directory
.cdk.staging
cdk.out